<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="whatsappstatusApp.comment.detail.title">Comment</span> {{ comment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="whatsappstatusApp.comment.comment">Comment</span></dt>
                <dd>
                    <span>{{ comment.comment }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.comment.commentDate">Comment Date</span></dt>
                <dd>
                    <span>{{ comment.commentDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
