<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="whatsappstatusApp.profile.detail.title">Profile</span> {{ profile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="whatsappstatusApp.profile.firstName">First Name</span></dt>
                <dd>
                    <span>{{ profile.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ profile.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.email">Email</span></dt>
                <dd>
                    <span>{{ profile.email }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.phone">Phone</span></dt>
                <dd>
                    <span>{{ profile.phone }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.addressLine1">Address Line 1</span></dt>
                <dd>
                    <span>{{ profile.addressLine1 }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.addressLine2">Address Line 2</span></dt>
                <dd>
                    <span>{{ profile.addressLine2 }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.city">City</span></dt>
                <dd>
                    <span>{{ profile.city }}</span>
                </dd>
                <dt><span jhiTranslate="whatsappstatusApp.profile.country">Country</span></dt>
                <dd>
                    <span>{{ profile.country }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
